# Default ignore
/Packages/**
!/Packages/**/

# Whitelist configuration and theme files
!/Packages/Color\ Scheme\ -\ User/*
!/Packages/User/*.sublime-settings
!/Packages/User/*.sublime-theme
!/Packages/User/*.sublime-keymap
!/Packages/User/Snippets/**/*.sublime-snippet

# Config file whitelist (for files that are commonly ignored globally)
!sftp-config.json
