# Default ignore
/Packages/**
!/Packages/**/

# Whitelist configuration and theme files
!/Packages/Color\ Scheme\ -\ User-Sync/**/*.tmTheme
!/Packages/User-Sync/**/*.sublime-settings
!/Packages/User-Sync/**/*.sublime-theme
!/Packages/User-Sync/**/*.sublime-keymap
!/Packages/User-Sync/**/*.sublime-snippet
!/Packages/User-Sync/**/*.json

# Config file whitelist (for files that are commonly ignored globally)
!sftp-config.json
