# Default ignore
/Packages/**/*
!/Packages/**/

# Whitelist configuration and theme files
!/Packages/Color\ Scheme\ -\ User/*
!/Packages/User/*.sublime-settings
!/Packages/User/*.sublime-keymap
!/Packages/User/*.sublime-snippet
